html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* lets add the styling */

input {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 3px;
}
button{
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 5px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
  color: rgb(15, 15, 15);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(15, 15, 15);
  cursor: pointer;
  color: white;
}
.dSelect{
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}
.dOption{
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}
.container {
  color: white;
  padding: 0 2rem;
  background-image: linear-gradient( 135deg, #25bce2 10%, #FCFF00 100%);
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleColor {
  color: rgb(15, 15, 15);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.card {
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px; /* 300px for 3 in a row */
}
.imgPreview {
  width: 100%;
  border-radius: 5px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.42857143;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background: #FFF;
  border: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.671);
  pointer-events: auto;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.imgPreview:hover,
.imgPreview:focus,
.imgPreview:active {
  transform: scale(1.1);
  cursor: pointer;
  /* transition-duration: 1s; */
}